*.pyc
*.log
Thumbs.db
.DS_Store
*.swp
*.db
settings_sensitive.py
facetools_test_users*.json
pip.log
pip-log.txt
db.sql
scratch_pad.txt
ff.txt

virenv
.idea
.hg
.hgignore
.coverage
fbr/configs/development
fbr/scratch
fbr/collectstatic
cover
reports
.env
.env_local
celerybeat-schedule.db